@model SignInVM
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Fruitables - Vegetable Website Template</title>
    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Template Stylesheet -->
    <link href="~/css/StyleSheet.css" rel="stylesheet">
</head>
<body>
<!--form login-->
<div class="logincontainer">
        <div id="closelogin"><a asp-action="Index" asp-controller="Home"><i class="fas fa-times"></i></a></div>
        <form asp-controller="Account" asp-action="LogIn">
        <h3>@SharedLocalizer["Login"]:</h3>
            @if (ViewBag.Massege != null)
            {
                <div class="card">
                    <div class="card-body">
                        @ViewBag.Massege
                    </div>
                </div>
            }

        <label>@SharedLocalizer["UserName"]:</label>

        <input type="text" class="box" placeholder="@SharedLocalizer["UserNamePlace"]" asp-for="UserName">

        <label>@SharedLocalizer["Password"]:</label>

        <input type="password" class="box" placeholder="@SharedLocalizer["PasswordPlace"]" asp-for="Password">
        <input type="submit" value="sign in" class="btn">
            <p>@SharedLocalizer["ForgetthePassword?"]<a href="#">@SharedLocalizer["clickhere"]</a></p>
            <p>@SharedLocalizer["don'thaveanaccount?"]<a asp-action="Registeration" asp-controller="Account">@SharedLocalizer["createone"] </a></p>

    </form>
    </div>
  </<div>

</div>
</body>
</html>